@charset 'utf-8';

/**
** 페이지
** 로그인, 회원가입
**/

/// 로그인
.m-popup-login {
	padding: 32px 0 0;

	.mm_tabmenu {
		margin: 0 9px;
	}

	// 로그인, 주문조회
	&-member {
		padding-top: 39px;

		.mm_dropdown {
			margin-top: -32px;
			padding: 0 9px;

			.btn_dropdown {
				float: right;
				padding: 9px 15px;
				width: auto;
				color: #7b7b7b;
				text-align: right;

				.mco_dropdown {
					height: 14px;
					color: #7b7b7b;
					font-size: 15px;
				}
			}

			.image_keyboard {
				margin-bottom: 12px;
			}

			&-item {
				clear: both;
			}
		}

		.mm_form-text {
			&:nth-child(n+2) {
				margin-top: 7px;
			}
		}

		.mm_check-list {
			padding-top: 12px;
		}

		.mm_btngroup {
			margin-top: 18px;

			.mm_box-inline {
				margin: 6px 0 -10px;

				> a {
					position: relative;
					padding: 10px 22px;
					color: #666;
					font-size: 14px;

					&:nth-child(n+2):before {
						position: absolute;
						top: 11px;
						left: 0;
						height: 13px;
						border-left: 1px solid #cfcfcf;
						content: "";
					}
				}
			}
		}

		.m--member-sns {
			padding: 43px 5.73% 0;
			text-align: center;

			h5 {
				padding-bottom: 17px;
				font-size: 17px;
			}

			[class*="mco_sns"] {
				margin-bottom: 5px;
				width: 50px;
				height: 50px;
				border-radius: 100%;
				color: #fff;
				line-height: 50px;
			}

			.mco_sns-facebook {
				padding: 1px 0 0;
				background: #5e7cc9;
				font-size: 19px;
			}

			.mco_sns-naver {
				background: #6cd254;
				font-size: 14px;
			}

			.mco_sns-payco {
				padding: 1px 0 0 2px;
				background: #fc6666;
				font-size: 16px;
			}

			.mco_sns-kakaotalk {
				padding-top: 1px;
				background: #fbd96f;
				font-size: 18px;
			}

			.text_sns {
				display: block;
				color: #7b7b7b;
				font-size: 12px;
			}
		}
	}

	// 비회원주문하기
	&-order {
		padding-top: 53px;
		font-size: 18px;
		line-height: 24px;
		text-align: center;

		.mm_btn {
			margin-top: 38px;
		}
	}
}
///-- 로그인

/// 로그인 계정연결
.m-popup-login-account {
	.m--account-title {
		text-align: center;

		h6 {
			font-size: 19px;

			.text_sns {
				&-naver {
					color: #90bb4f;
				}

				&-kakao {
					color: #eecb26;
				}

				&-payco {
					color: #f06565;
				}

				&-facebook {
					color: #66629b;
				}
			}
		}

		.mm_text-attention {
			padding: 6px 9px 19px;
		}
	}

	.mm_form-text {
		&:nth-child(n+2) {
			margin-top: 7px;
		}
	}

	.mm_box-inline {
		margin: -10px 0;

		> a {
			position: relative;
			padding: 10px 22px;
			color: #666;
			font-size: 14px;

			&:nth-child(n+2):before {
				position: absolute;
				top: 12px;
				left: 0;
				height: 13px;
				border-left: 1px solid #cfcfcf;
				content: "";
			}
		}
	}
}
///-- 로그인 계정연결

/// 추가정보입력(네이버)
.m-popup-login-naver {
	padding-top: 50px;
}
///-- 추가정보입력(네이버)

/// 아이디,비밀번호찾기
.m-popup-findaccount {
	padding-top: 32px;

	> .mm_tabmenu {
		margin: 0 9px;
	}

	&-pw {
		&.mm_formbox {
			padding-top: 32px;

			.mm_form-text:nth-child(n+2) {
				margin-top: 7px;
			}
		}

		+ .m-popup-findaccount-certify {
			.mm_title {
				padding: 43px 0 28px;
			}
		}
	}

	&-certify {
		margin: 0 9px;

		.mm_title {
			padding: 53px 0 38px;
			font-size: 18px;
			line-height: 24px;
		}

		.m--certify-type {
			margin-bottom: 9px;

			li {
				position: relative;
				border: 1px solid #cfcfcf;

				&:nth-child(n+2) {
					margin-top: -1px;
				}
			}

			a {
				padding-left: 80px;
				width: 100%;
				height: 72px;
				font-size: 16px;

				.image_icon {
					position: absolute;
					top: 50%;
					left: 27px;
					width: 31px;
					@include transform(translateY(-50%));
				}

				> span {
					display: inline-block;
					padding: 27px 0;

					.mco_next {
						margin: 1px 0 0 10px;
						color: $color_primary_base;
					}
				}
			}
		}

		.mm_attention {
			li {
				margin-top: 3px;
			}
		}
	}
}
/// 아이디, 비밀번호찾기

/// 아이디, 비밀번호찾기결과
.m-popup-findaccount-result {
	padding: 0 9px;

	.m--result-info {
		padding: 32px 0 67px;
		background: #f9f9f9;
		text-align: center;

		p {
			font-size: 18px;
			line-height: 24px;
		}

		dl {
			float: right;
			position: relative;
			top: 17px;
			left: -50%;
			font-size: 13px;

			> * {
				float: left;
				position: relative;
				left: 50%;
			}

			dd {
				padding: 0 12px 0 6px;
				color: #666;
			}
		}
	}

	.m--result-send {
		margin: 0 -9px;
		padding-bottom: 14px;

		h4 {
			padding: 37px 0 12px 9px;
			font-size: 16px;
		}

		li {
			position: relative;
			border: 1px solid #e1e1e1;
			border-width: 1px 0;

			&:nth-child(n+2) {
				margin-top: -1px;
			}

			button {
				padding: 17px 21px;
				width: 100%;
				text-align: left;
			}

			span {
				display: block;
				margin-bottom: 9px;
				font-size: 14px;
			}

			small {
				color: #666;
				font-size: 13px;
			}

			.mco_link {
				position: absolute;
				top: 50%;
				right: 22px;
				margin-top: -7px;
				height: auto;
				color: #7b7b7b;
				font-size: 17px;
			}
		}

		.mm_text-attention {
			margin: 0 9px;
		}
	}
}
///-- 아이디, 비밀번호찾기결과

/// 비밀번호재설정
.m-popup-reset-pw {
	.mm_title {
		padding-bottom: 7px;
		font-size: 18px;

		+ p {
			padding: 0 9px;
			color: #7b7b7b;
			font-size: 14px;
			text-align: center;
			line-height: 18px;
		}
	}

	.mm_formbox {
		padding-top: 30px;

		.mm_form-text:nth-child(n+2) {
			margin-top: 7px;
		}

		.mm_btn {
			margin-top: 18px;
		}
	}
}
///-- 비밀번호재설정

/// 비밀번호변경안내
.m-popup-change-pw {
	.mm_title {
		padding-bottom: 7px;
		font-size: 17px;
		line-height: 20px;
		white-space: nowrap;

		+ p {
			padding: 0 9px;
			color: #7b7b7b;
			font-size: 14px;
			text-align: center;
			line-height: 18px;
		}
	}

	.mm_formbox {
		padding-top: 30px;

		.mm_form-text:nth-child(n+2) {
			margin-top: 7px;
		}

		.mm_btn {
			margin-top: 18px;
		}
	}
}
///-- 비밀번호변경안내

/// 회원가입
.m-popup-join {
	&-step {
		padding: 37px 0 34px;
		text-align: center;

		+ .mm_formbox {
			margin-top: -31px;
		}

		h3 {
			padding-bottom: 19px;
			color: #4f4f4f;
			font-size: 20px;

			.text_step {
				margin-right: 10px;
				color: #a3a3a3;
				font-weight: 300;
				font-family: $fontFamily_latin;
			}
		}

		ul {
			margin: 0 auto;
			width: 246px;

			li {
				float: left;
				width: 60px;
				border-top: 3px solid #e8e8e8;

				&:nth-child(n+2) {
					margin-left: 2px;
				}

				&.__step-on {
					border-color: $color_primary_base;
				}
			}
		}

		p {
			padding-top: 11px;
			color: #666;
			font-size: 14px;
			line-height: 18px;
		}
	}

	.mm_tabmenu {
		margin: 0 9px;
	}

	// 본인인증
	&-certify {
		margin: 0 9px;

		.mm_title {
			padding: 53px 0 38px;
			font-size: 18px;
			line-height: 24px;
		}

		.m--certify-type {
			margin-bottom: 9px;

			li {
				position: relative;
				border: 1px solid #cfcfcf;

				&:nth-child(n+2) {
					margin-top: -1px;
				}
			}

			a {
				padding-left: 80px;
				width: 100%;
				height: 72px;
				font-size: 16px;

				.image_icon {
					position: absolute;
					top: 50%;
					left: 27px;
					width: 31px;
					@include transform(translateY(-50%));
				}

				> span {
					display: inline-block;
					padding: 27px 0;

					.mco_next {
						margin: 1px 0 0 10px;
						color: $color_primary_base;
					}
				}
			}
		}

		.mm_attention {
			li {
				margin-top: 3px;
			}
		}
	}

	// 약관동의
	&-agree {
		padding-top: 10px;

		ul {
			li {
				float: none;
				position: relative;
				margin-top: 0;
				padding: 22px 40px 22px 9px;
				border: 1px solid #e1e1e1;
				border-width: 1px 0;

				&:nth-child(n+2) {
					margin-top: -1px;
				}
			}

			.btn_more {
				position: absolute;
				top: 0;
				right: 0;
				padding: 27px 9px;
				color: #7b7b7b;
				font-weight: 300;
				font-size: 12px;

				.mco_link {
					margin-left: 6px;
					padding-top: 1px;
				}
			}
		}
	}

	// 가입완료
	&-complete {
		padding: 45px 0 54px;
		text-align: center;

		h5 {
			margin-bottom: 20px;
			font-size: 19px;
		}

		p {
			font-size: 15px;
			line-height: 21px;
		}
	}

	&-btngroup {
		margin: 24px 9px 0;

		.mm_btn:nth-child(n+2) {
			margin-top: 7px;
		}
	}

	// 네이버회원가입
	&-naver {
		.mm_formbox-title {
			padding: 37px 0 0 9px;
		}
	}
}
///-- 회원가입
