@charset 'utf-8';

/**
** 그리드
**/

html,
body {
	overflow: hidden;// mobile
	width: 100%;
	height: 100%;
	min-width: $minWidth_base;// $minWidth_extend;// 좌/우 날개배너 포함
	min-height: 100%;
	background: #fff;
}

html {
	color: $color_text_base;
	font-weight: normal;
	font-size: $fontSize_base;
	font-family: $fontFamily_base;
	line-height: 1;
	letter-spacing: -0.5px;
	@include prefix(text-size-adjust, none, webkit ms);
	// -webkit-tap-highlight-color: rgba(0,0,0,0);

	// 폰트 로드 후 적용
	&.wf-active {
		// font-family: $fontFamily_base;
	}
}

body {
	// overflow-y: scroll;// pc 스크롤바 기본 삽입
	-webkit-overflow-scrolling: touch;

	// 스크롤 안됨
	.__noscroll & {
		position: fixed;// fixed 사용 시 안드로이드 4에서 오류
	}

	// 배경 회색
	.__bg_gray__ & {
		background: #f7f7f7;
	}

	.__mm_modal__ & {
		min-width: 100%;
	}
}

/// 스킵 네비게이션
.mm_skip {
	position: absolute;
	z-index: $zIndex_skip;
	top: 0;
	left: 0;
	font-size: 0;
	line-height: 1;

	a:focus {
		padding: 10px;
		background: $color_primary_base;
		color: #fff;
		font-weight: 700;
		font-size: 12px;
	}
}
///-- 스킵 네비게이션

/// 전체 영역
.mm_app {
	position: relative;
	height: 100%;
}
///-- 전체 영역

/// 기본 화면
.mm_view {
	position: relative;
	height: 100%;
	@include transition(transform $time-base);

	// 사이드바 열림
	.__side & {
		@include transform(translateX(50%));
	}
}
///-- 기본 화면

/// 페이지
.mm_page {
	position: relative;
	// padding-bottom: $height_footer_base;// pc
	// min-height: 100%;// pc
	height: 100%;// mobile

	> .mm_scroller {
		padding: $height_header_base 0 $height_toolbar_base;// mobile

		.__noscroll & {
			overflow: hidden;
		}

		.__header-extend & {
			padding-top: 0;
		}
	}

	/// 페이지 본문
	&-content {
		position: relative;
		padding: 0 0 40px;
		@include prefix(flex, 1, webkit ms);// mobile
		
		.__mm_main__ & {
			.mm_scroller {
				> *:first-child {
					margin-top: $height_header_extend;// mm_scroller에 padding-top으로 적용하면 iphone6에서 padding-top 영역이 깨지는 이슈가 발생해서 수정
				}
			}
		}
	}
	///-- 페이지 본문

	.btn_topmost {
		position: fixed;
		z-index: $zIndex_floating;
		right: 12px;
		bottom: ($height_toolbar_base + 9px);
		padding-top: 5px;
		width: 40px;
		height: 40px;
		border: 1px solid #000;
		background: rgba(#fff, 0.5);
		font-size: 12px;
		text-align: center;
		@include opacity(0, none);
		@include transition(opacity $time_fast);

		.__mm_main__ &,
		.__mm_popup__ & {
			bottom: 9px;
		}

		&.__on {
			@include opacity(1, auto);
		}

		span {
			display: block;
			margin-top: 2px;
			letter-spacing: 0;
		}
	}
}
///-- 페이지

/// 아이프레임 페이지(modal, popup 제외)
html[class*="_frame_"] {
	min-width: 0;

	body {
		overflow-y: visible;
		min-width: 0;
	}

	.mm_view {
		padding: 0;
	}

	.mm_page {
		padding: 0;
	}

	.mm_page-content {
		padding: 0;
		border-top: 0;
	}

	// 메인페이지
	&[class*="_main__"] {
		.mm_page-content {
			height: 100%;
		}
	}
}
